
header{
flex-direction: column;
}

.navbar ul li a{
  font-size: 20px;
}

#home form{
  flex-wrap: wrap;
}
#social-media{
  margin-top: 1954px;
  padding-top: 659px;
}
.us{
  flex-direction: column;
  flex-wrap: wrap;
}
.map{
  height: 297px;
}
.map img{
  height:400px;
  width:100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.footer-box{
  flex-direction: column;
}
